.panel-heading{
    margin-bottom: 15px;
}
.form-group{
    width: 95%;
}
.btn{
    margin-left:15px;
}
h1{
    text-align: center;
}
.top{
    padding-right: 15px;
    padding-left: 15px;
}

.jumbotron{
    background-color:transparent !important;
}

.wrapper{
    height: 100%;
    width: 100%
}